body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}





nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #0070c9;
  font-weight: 500;
}

nav ul li a:hover {
  text-decoration: underline;
}





.App {
  text-align: center;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.text-title {
  font-size: 24px;
  margin: 20px 0;
  font-weight: 600;
}

.text-main {
  font-size: 62px;
  margin: 20px 0;
  font-weight: 650;
}

.text-desc {
  font-size: 16px;
  margin: 20px 0;
  line-height: 1.5;
  font-weight: 400;
}

.text-price {
  font-size: 16px;
  color: grey;
  margin: 20px 0;
}

.buy-button {
  background-color: #0072E3;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  margin: 20px 0;
  transition: background-color 0.3s ease;
}

.buy-button:hover {
  background-color: #005bb5;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.iphone-image {
  max-width: 150%;
  height: auto;
}


.gallery-button {
  background-color: #0072E3;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  margin: 20px 20px;
  transition: background-color 0.3s ease;
}